<div class="page-header">
    <h1>MovieDB<small>a tutorial implementation using imdb data</small></h1>
    <ul class="nav nav-pills">
        <li>
            <a href="/">Home</a>
        </li>
        <li><a href="/movie">Movies</a></li>
    </ul>
</div>
