@{
    ViewBag.Title = "Index";
    ViewBag.MainPageScript = "home/main";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 widget" data-aura-widget="movieWidget" data-aura-keyword="a">
            <div class="loading"></div>
        </div>
        <div class="span6 widget" data-aura-widget="movieWidget" data-aura-keyword="b">
            <div class="loading"></div>
        </div>
    </div>
</div>
